extends layout

include _includes/sharedHTMLfunctions

block content
  #banner.page-header
    .row
      .col-lg-6
        h1= "Добро пожаловать =D " + pageHeader.title
        small &nbsp; #{pageHeader.strapline}
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        each location in locations
          .col-xs-12.list-group-item
            h4
            a(href="/location")= location.name
            small &nbsp;
              +outputRating(location.rating)
            span.bange.pull-right.bange-default= location.distance
          p.address= location.address
          p
            each facility in location.facilities
              span.label.label-warning= facility
              | &nbsp;
    .col-xs-12.col-sm-4
      form
        div.form-group
          label(for="exampleInputEmail1" aria-describedby="emailHelp") Email address
          input#exampleInputEmail1.form-control(type="email" aria-describedby="emailHelp" placeholder="Enter email")
          small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
        div.form-group
          label(for="exampleInputPassword1" aria-describedby="emailHelp") password
          input#exampleInputPassword1.form-control(type="password" placeholder="Password")
        div.form-group
          label(for="nameBook") Название книги
          input#nameBook(type="text").form-control
        div.form-group
          label(for="author") Автор книги
          input#author(type="text").form-control
        div.form-group
          label(for="publishedBook") Дата издания
          input#publishedBook(type="date" min="1920-01-01" max="2017-01-01").form-control
        div.form-group
          label(for="NumberPages") Кол-во страниц
          input#NumberPages(type="number" list='numberList' step="1" min="1" max="9000" value="10").form-control
        datalist#numberList
          option 1500
          option 2000
          option 3012
          option 0231

        button.btn.btn-primary Отправить
  h1= title
  p Welcome to #{title}

  <script src="/javascripts/addBook.js"></script>